body{
    margin: 0px;
    color: #dae6f6;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #4989ED;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a{
    color: #EE3796;
    text-decoration: none;
    font-size: 20px;
}
section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    width: 300px;
}
.card:hover{
    box-shadow: 2px 2px 6px black;
    border-radius: 5px;
    cursor: pointer;
}
img{
    margin-top: 10px;
    height: 90px;
    box-shadow: 2px 2px 6px black;
}
h2{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}